body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#nav-bar nav {
    background-color: #333;
}

#nav-bar a {
    color: white;
    text-align: center;
    padding: 23px 71px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#nav-bar a:hover {
    background-image: linear-gradient(to right, #333, #666);
    /* padding: 40px 71px; */
}

body {
    background-color: antiquewhite;
}

em,
li {
    font-size: 25px;
}

ul {
    font-size: 20px;

}

/* h2 {
    text-decoration: underline solid;
} */

bold {
    font-size: 30px;
}


/* =================== */

/* ============recipes page============= */

.nav-bar-logo {
    width: 90px;
    height: 85px;
}

.profile-icon {
    height: 35px;
    width: 35px;
}

/* .profile-icon-a {
    padding: 0px;
    
    } */

.left-padding {
    padding-left: 20px;
}

#cuisines-a-img a {
    padding: 20px;
}

#cuisines-a-img img:hover {
    border-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(48, 48, 48, 0.777);
    transform: translateY(-10px);
}

.recipes-grad {
    background: linear-gradient(to bottom, antiquewhite, #ffffff);
}

h1 {
    font-size: 50px;
    padding: 50px auto;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    /* text-decoration: underline solid; */
}

/* ============profile page============= */

#proflie-card .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* 5px rounded corners */
    transition: 0.3s;
    /* display: inline; */
}

/* On mouse-over, add a deeper shadow */
#proflie-card .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
#proflie-card .container {
    padding: 2px 16px;
}

#proflie-card a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#proflie-card img {
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 300px;
}

#proflie-card img:hover {
    background-color: #33333371;
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 300px;
}

.btn {
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
}

.success {
    background-color: #04AA6D;
}

/* Green */
.success:hover {
    background-color: #46a049;
}

.info {
    background-color: #2196F3;
}

/* Blue */
.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

/* Orange */
.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

/* Red */
.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.default:hover {
    background: #ddd;
}

input[type=text],
input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* * {
    box-sizing: border-box;
} */


/* ========footer================== */

#footer {
    background: rgb(255, 255, 255);
    padding: 0 0 30px 0;
    color: #000000;
    font-size: 14px;
}

#footer .footer-top {
    background: #ffffff;
    border-bottom: 1px solid #cecece;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
    color: #000000;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #c5c5c5;
    color: #ffffff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #000000;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #000000;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #000000;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #000000;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #000000;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #000000;
}